In [1]:
# connecting to the cassandra-server
# three things required :1. Downloaded zip file path 
#2. client Id 
#3.Client-secret 

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\CassandraDB_Bundle\secure-connect-backorder-prediction.zip'
}
auth_provider = PlainTextAuthProvider('hKMohroqWAmBKCQPOkBJLEYD', 'atz6gqOz-_msHkq6eyY7LkieDZ5y.288m27M9mFN7lzqo3+0UwYGmfTQH8DfQYcA.reKZTY3DTuE740_L.5_hf2242wPSKKZrYAIZtFiKKb1kxA_DXh2qXHQ_DUWbDqD')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
# Good_training_data
session = cluster.connect('Good_training_data')
row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
    print(row)
    print('Connected successfully....!')
else:
    print("An error occurred.")

4.0.0.6815
Row(release_version='4.0.0.6815')
Connected successfully....!

In [2]:
session.execute('use "Good_training_data"')

In [5]:
import pandas as pd 
csv_file  = './Mini_data.csv'
data  = pd.read_csv(csv_file)
data.head()

       sku  national_inv  lead_time  in_transit_qty
0  1475773            45         45              24
1  1477213           873          9              46
2  1478096            21         12               0
3  1483257            45          8               0

In [4]:
# create table to store these data
Query = "Create table if not exists table1 (sku   int PRIMARY KEY ,national_inv float , lead_time float , in_transit_qty float ) ;"
session.execute(Query)

In [21]:
# Query2


Query2 = f"COPY table1 (sku , national_inv , lead_time , in_transit_qty) from '{csv_file}' with header = true and delimiter = '|' ; "
print(Query2)

COPY table1 (sku , national_inv , lead_time , in_transit_qty) from './Mini_data.csv' with header = true and delimiter = '|' ;

In [22]:
session.execute(Query2)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:0 no viable alternative at input 'COPY' ([COPY]...)">

In [1]:
# data slicing

In [9]:
import pandas as pd 
data = pd.read_csv("Training_dataset.csv")
data.head()

C:\Users\DELL\anaconda3\envs\WaferFaultDetection_env\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [4]:
data.shape

(1687861, 23)

In [11]:
1687861 / 80

21098.2625

In [12]:
data.iloc[0 : 21098]

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21093,1132579,15.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.00,0.99,0.0,No,No,No,Yes,No,No
21094,1132580,15.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.46,0.35,0.0,No,No,No,Yes,No,No
21095,1132581,3.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.79,0.0,No,No,No,Yes,No,No
21096,1132582,3.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,...,0.0,0.63,0.64,0.0,No,No,No,Yes,No,No
21097,1132583,9.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.48,0.39,0.0,No,No,No,Yes,No,No

42196

In [15]:
# 21098 * 2 
#data.iloc[21098 : 42196]

In [16]:
a = 0 
b = 21098
for i in range(40) :
    a = b
    c = b
    b = b + c
    data.iloc[a : b].to_csv(f'sLiced_dataset{i}.csv')

In [1]:
import pandas as pd 
data = pd.read_csv('TrainingData.csv')
data.shape

C:\Users\DELL\anaconda3\envs\WaferFaultDetection_env\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1687861, 23)

In [7]:
import numpy as np 
data.iloc[0 : 385000].fillna(np.nan).to_csv('Training_batch.csv')